.transitionDelay600ms {
  transition-delay: 600ms;
}

.transitionDelay700ms {
  transition-delay: 700ms;
}

.transitionDelay800ms {
  transition-delay: 800ms;
}

.transitionDelay900ms {
  transition-delay: 900ms;
}

.transitionDelay1000ms {
  transition-delay: 1000ms;
}

.transitionDelay1100ms {
  transition-delay: 1100ms;
}

.transitionDelay1200ms {
  transition-delay: 1200ms;
}

.transitionDelay1300ms {
  transition-delay: 1300ms;
}

.transitionDelay1400ms {
  transition-delay: 1400ms;
}

.transitionDelay1500ms {
  transition-delay: 1500ms;
}

.transitionDelay1600ms {
  transition-delay: 1600ms;
}

.transitionDelay1700ms {
  transition-delay: 1700ms;
}

.transitionDelay1800ms {
  transition-delay: 1800ms;
}

.transitionDelay1900ms {
  transition-delay: 1900ms;
}

.transitionDelay2000ms {
  transition-delay: 2000ms;
} 